services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
    depends_on:
      - jaeger
      - tempo

  jaeger:
    image: jaegertracing/all-in-one:1.70.0
    environment:
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:9090
    ports:
      - "16686:16686" # Jaeger UI
    depends_on:
      - prometheus

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo.yaml"]
    user: "root"
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempo-data:/tmp/tempo
    ports:
      - "3200:3200"   # Tempo API

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "3000:3000"
    depends_on:
      - tempo
    volumes:
      - grafana-data:/var/lib/grafana

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
      
  ocpp16-server:
    build: .
    command: ["uv", "run", "python", "-m", "ocpp16_min.server"]
    environment:
      - APP_HOST=0.0.0.0
      - APP_PORT=9000
      - OTEL_SERVICE_NAME=ocpp16-server
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - UV_PROJECT_ENVIRONMENT=/tmp/uv-venv
      - UV_VENV_PATH=/tmp/uv-venv
    volumes:
      - .:/app
    ports:
      - "9000:9000"
    depends_on:
      - otel-collector

  ocpp16-client:
    build: .
    command: ["uv", "run", "python", "-m", "ocpp16_min.client"]
    environment:
      - OTEL_SERVICE_NAME=ocpp16-client
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - OCPP_SERVER_URL=ws://ocpp16-server:9000
      - UV_PROJECT_ENVIRONMENT=/tmp/uv-venv
      - UV_VENV_PATH=/tmp/uv-venv
    volumes:
      - .:/app
    depends_on:
      - ocpp16-server
      - otel-collector

volumes:
  tempo-data:
  grafana-data:
